<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">
                <div class="shadow p-3 mb-3 bg-white rounded">Tambah Data Siswa</div>
            </h5>
            <% if (errors && errors != 'undefined') { %>
                <div class="container mt-4"> 
                    <div class="alert alert-danger" role="alert"> 
                        <ul>
                            <% errors.forEach(error => { %>
                                <li>
                                    <%= error.msg %>
                                </li>
                            <% }) %>
                        </ul> 
                    </div>
                </div>
            <% } %>
            <form id="addDataForm" method="post" action="/data-siswa">
                <div class="card shadow bg-white">
                    <div class="card-header">
                        <strong>Data Siswa</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group row mb-3">
                            <label for="nama" class="col-sm-3 col-form-label">Nama Lengkap :</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama Lengkap" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="jk" class="col-sm-3 col-form-label">Jenis Kelamin :</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="jk" name="jk" required>
                                    <option selected disabled>Pilih Jenis Kelamin</option>
                                    <option value="Laki-Laki">Laki-Laki</option>
                                    <option value="Perempuan">Perempuan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="nisn" class="col-sm-3 col-form-label">NISN :</label>
                            <div class="col-sm-9">
                                <div class="form-group is-invalid">
                                    <input type="number" class="form-control" id="nisn" name="nisn" placeholder="Masukkan NISN" required>
                                </div>
                                <% if (errors && errors.find(e => e.param === 'nisn')) { %> 
                                    <div class="invalid-feedback"> 
                                        <%= errors.find(e => e.param === 'nisn').msg %> 
                                    </div> 
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="nik" class="col-sm-3 col-form-label">NIK :</label>
                            <div class="col-sm-9">
                                <div class="form-group is-invalid">
                                    <input type="number" class="form-control" id="nik" name="nik" placeholder="Masukkan NIK" required>
                                </div>
                                <% if (errors && errors.find(e => e.param === 'nik')) { %> 
                                    <div class="invalid-feedback"> 
                                        <%= errors.find(e => e.param === 'nik').msg %> 
                                    </div> 
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="nokk" class="col-sm-3 col-form-label">No.KK :</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="nokk" name="nokk" placeholder="Masukkan No.KK" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="tingkat" class="col-sm-3 col-form-label">Tingkat Kelas Saat Ini :</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="tingkat" name="tingkat" required>
                                    <option selected disabled>Pilih Tingkat Kelas</option>
                                    <option value="X">X</option>
                                    <option value="XI">XI</option>
                                    <option value="XII">XII</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="rombel" class="col-sm-3 col-form-label">Rombel :</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="rombel" name="rombel" required>
                                    <option selected disabled>Pilih Jurusan</option>
                                    <option value="PPLG 1">PPLG 1</option>
                                    <option value="PPLG 2">PPLG 2</option>
                                    <option value="RPL 1">RPL 1</option>
                                    <option value="RPL 2">RPL 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="terdaftar" class="col-sm-3 col-form-label">Terdaftar Sebagai :</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="terdaftar" name="terdaftar" required>
                                    <option selected disabled>Terdaftar Sebagai</option>
                                    <option value="Siswa Baru">Siswa Baru</option>
                                    <option value="Pindahan">Pindahan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="ttl" class="col-sm-3 col-form-label">Tempat Tanggal Lahir :</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ttl" name="ttl" placeholder="Masukkan Tempat Tanggal Lahir" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="tgl_masuk" class="col-sm-3 col-form-label">Tanggal Masuk :</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="tgl_masuk" name="tgl_masuk" max="<%= new Date().toISOString().split('T')[0] %>" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-person-plus-fill"></i>Tambah</button>
                            </div>
                            <div class="col-md-6 text-end">
                                <a href="/data-siswa" class="btn btn-sm btn-success">&laquo; Kembali</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </form>
        </div>
    </main>
</div>